// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';
@import 'custom_navigation';
@import 'footer';
@import 'button';
@import 'layout';
@import 'colors';
@import 'title_anim';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

details {
  margin: 0 40px 1em;
}

iframe,
summary {
  max-width: 100%;
}

summary {
  @extend .btn, .btn-outline;
}

.main-content-wrap {
  max-width: $content-width;
  margin: auto;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 1em;
    }
  }
}


.data-img {
  height: 22em;
}

.text-logo {
  height: 1.1em;
}

.label-orange {
  background-color: #f58842 !important;
}

.label-lecture {
  background-color: $purple-000 !important;
}


.label-seminar {
  background-color: $purple-200 !important;
}

.label-grey {
  background-color: $grey-dk-100 !important;
}


.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
}

.video-container iframe,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/* And set the max-width of the parent element */
.video-wrap {
  width: 100%;
  max-width: 560px;
}


.project-title {
  margin-top: 3% !important;
  text-align: center;
  justify-content: center;
  align-content: center;
}


.project-author-box {
  margin-top: 4%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-evenly;
}


.project-author {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.center-image {
  text-align: center;
  justify-content: center;
}

.project-links {
  text-align: center;
}


.banner-container {
  margin-top: -1rem;
  margin-right: -1rem;
  width: auto;
  position: relative;
  text-align: left;
  text-shadow: 0 0 1rem #FFFFFF, 0 0 1rem #FFFFFF, 0 0 1rem #FFFFFF, 0 0 1rem #FFFFFF, 0 0 1rem #FFFFFF, 0 0 1rem #FFFFFF;
}

.banner-info {
  position: absolute;
  top: 5%;
}

.banner-sub-info {
  position: absolute;
  bottom: 7%;
}

.banner-title {
  height: 8vw;
  margin-bottom: 1.25vw;
  font-weight: 600;
  color: $grey-dk-300;
}

.banner-subtitle {
  height: 5vw;
  font-weight: 400;
  margin-bottom: 6vw;
  color: $grey-dk-250;
}

.banner-text {
  font-size: 2.75vw;
  font-weight: 300;
}



@media (min-width: 50rem) {
  
  .banner-container {
    margin-top: -2rem;
    margin-right: -2rem;
  }

  .banner-title {
    height: 7.5vw;
    margin-bottom: 0.75vw;
  }

  .banner-subtitle {
    height: 4.25vw;
  }

  .banner-text {
    font-size: 2.25vw;
  }
}


.site-sub-logo {
  flex-basis: 0%;
  display: none;

  img {
    width: 100%;
  }

  @include mq(md) { 
    display: flex;
    height: 100%;
    align-items: center;
    flex-basis: 68%;
  }
}




.site-logo {
  flex-basis: 100%;

  @include mq(md) { 
    flex-basis: 32%;
  }
}




.hr-text {
  border: 0;
  @include fs-6;
  font-weight: 500;
  position: relative;
  text-align: center;
  color: $body-heading-color;
  line-height: 0em;
  @include mq(sm) {
    line-height: 0em;
  }
}

.hr-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

.hr-text::after {
    background-color: white;
    content: attr(content);
    padding: 0 7px;
    position: relative;
}

