

.project-title {
  margin-top: 2%;
  text-align: center;
  justify-content: center;
  align-content: center;
}


.project-author-box {
	margin-top: 4%;
	margin-bottom: 5%;
	display: flex;
	justify-content: space-evenly;
}


.project-author {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.center-image {
  text-align: center;
  justify-content: center;
}