.staff-row {
  

  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  display: inline;

  @include mq(lg) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    display: flex;
  }

  
}

.staffer-info {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.staff-column {
  width: 100%;
}

.staffer {
  display: flex;
  flex-basis: 50%;
  margin: $sp-4;

  .staffer-image {
    border-radius: 50%;
    height: 135px;
    margin-right: $sp-4;
  }

  p,
  .staffer-name {
    margin: $sp-1 !important;
  }

  .staffer-pronouns {
    @extend .label, .text-grey-dk-100, .bg-grey-lt-200;
  }

  .staffer-meta {
    @extend .text-grey-dk-000;
  }
}
