
$graf-palt: (#9f0bbd, #27bdc2, #ed55c9, #d402c9, #4b0180, #27bdc2, #ce11f5, #cf0e95, #e8647a, #eb83b0, #469dfa, #803cb0);
$graf-back: (#6b0680, #209a9e, #bd42a0, #9c0293, #4b0180, #1c898c, #9a0bb8, #9e0971, #ba4e60, #b86187, #3376bd, #58287a);

$title-svg-deep-count: 4;

@for $i from 1 through $title-svg-deep-count {
	#title-svg-DeepRob-#{$i} {
		fill: nth($graf-palt, $i);
		stroke: nth($graf-back, $i);
		stroke-width: 0.45;
		animation: grafAnimate 7s linear 0s infinite alternate-reverse;
	    }
}

$title-svg-DL-count: 12;

@for $i from 1 through $title-svg-DL-count {
	#title-svg-DLxRP-DL-#{$i} {
		fill: nth($graf-palt, $i);
		stroke: nth($graf-back, $i);
		stroke-width: 0.5;
		animation: grafAnimate 7s linear 0s infinite alternate-reverse;
	    }
}

@keyframes grafAnimate {
	0%{
		stroke-dasharray: 0% 20%;
	}
	20%{
		stroke-dasharray: 10% 20%;
	}
	80%{
		stroke-dasharray: 20% 10%;
	}
	100%{
		stroke-dasharray: 20% 0%;
	}
}



$title-svg-rob-count: 3;
$title-svg-rob-rand: 5+random(32), 5+random(32), 5+random(32);
$title-svg-rob-randd: random(24), random(24), random(24);

@for $i from 1 through $title-svg-rob-count {
	#title-svg-DeepRob-#{$i + 4} {
		animation: slowAnimate nth($title-svg-rob-rand, $i) + s infinite nth($title-svg-rob-randd, $i) + s alternate-reverse;
	    }
}

@keyframes slowAnimate {
	0%{
		stroke-dasharray: 0 5%;
		stroke-dashoffset: 10%;
	}
	100%{
		stroke-dasharray: 5% 0;
		stroke-dashoffset: -10%;
	}
}


$title-svg-rp-count: 15;
$title-svg-rp-rand: 4+random(17), 4+random(17), 4+random(17), 4+random(17), 4+random(17), 4+random(17), 4+random(17), 4+random(17), 4+random(17), 4+random(17), 4+random(17), 4+random(17), 4+random(17), 4+random(17), 4+random(17);



@for $i from 1 through $title-svg-rp-count {
	#title-svg-DLxRP-RP-#{$i} {
		animation: fastAnimate nth($title-svg-rp-rand, $i) + s infinite alternate-reverse;
	    }
}

@keyframes fastAnimate {
	0%{
		stroke-dasharray: 0 40%;
		stroke-dashoffset: 30%;
	}
	100%{
		stroke-dasharray: 40% 0;
		stroke-dashoffset: -30%;
	}
}