
<div class="fs-5 fw-300" style="text-align: center;">

<div style="margin-bottom:15px;">
Institutional Teaching Collaborative
</div>

	<div style="display:flex; verticle-align: middle; justify-content: space-evenly;">

		<!-- <div class="logo-container">
			<a href="https://www.berea.edu" target="_blank" class="logo-link">
				<img src="/assets/logos/Berea.png" class="footer-img" >
			</a>
		</div> -->

		<div class="logo-container">
			<a href="https://umich.edu" target="_blank" class="logo-link">
				<img src="/assets/logos/UM.png" class="footer-img" >
			</a>
		</div>

		<div class="logo-container">
			<a href="https://twin-cities.umn.edu" target="_blank" class="logo-link">
				<img src="/assets/logos/Minn.png" class="footer-img" >
			</a>
		</div>

		<!-- <div class="logo-container">
			<a href="https://www.sfsu.edu" target="_blank" class="logo-link">
				<img src="/assets/logos/SFState.png" class="footer-img" >
			</a>
		</div> -->

		<div class="logo-container">
			<a href="https://progress.eecs.umich.edu" target="_blank" class="logo-link">
				<img src="/assets/logos/Progress.png" class="footer-img" >
			</a>
		</div>

	</div>

</div>