
<div class="fs-5 fw-400" style="text-align: center;">

<div class="text-grey-dk-300" style="margin-bottom:20px;">
Institutional Teaching Collaborative
</div>

	<div style="display:flex; verticle-align: middle; justify-content: space-evenly;">

		<div class="logo-container">
			<a href="https://umich.edu" target="_blank" rel="noopener noreferrer" class="logo-link">
				<img src="{{ site.baseurl }}/assets/logos/UM.png" alt="Link to University of Michigan website" class="footer-img" >
			</a>
		</div>

		<div class="logo-container">
			<a href="https://twin-cities.umn.edu" target="_blank" rel="noopener noreferrer" class="logo-link">
				<img src="{{ site.baseurl }}/assets/logos/Minn.png" alt="Link to University of Minnesota website" class="footer-img" >
			</a>
		</div>

		<div class="logo-container">
			<a href="https://www.mines.edu" target="_blank" rel="noopener noreferrer" class="logo-link">
				<img src="/assets/logos/Mines.png" alt="Link to Colorado School of Mines website" class="footer-img" >
			</a>
		</div>

		<div class="logo-container">
			<a href="https://progress.eecs.umich.edu" target="_blank" rel="noopener noreferrer" class="logo-link">
				<img src="{{ site.baseurl }}/assets/logos/Progress.png" alt="Link to Laboratory for Progress website" class="footer-img" >
			</a>
		</div>

	</div>

</div>